{% extends 'CoreBundle:Templates:base.html.twig' %}

{% block title %}{{ supplier.name }}{% endblock %}

{% block titleMain %}{{ supplier.name }}{% endblock %}

{% block position %}

    {% include 'CoreBundle:Templates:position.html.twig' with {
        positions : [
            {
                title : 'Proveedores',
                route : 'supplier.index',
                icon  : icon.ICON_SUPPLIER
            },
            {
                title : supplier.name,
                route : '',
                icon  : icon.ICON_SUPPLIER
            }
        ]
    } %}

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-sm-4 form-group">

            <label>Código</label>
            <p>{{ supplier.code }}</p>
        </div>

        <div class="col-sm-4 form-group">

            <label>Rif</label>
            <p>{{ supplier.rif }}</p>
        </div>

        <div class="col-sm-4 form-group">

            <label>Nombre</label>
            <p>{{ supplier.name }}</p>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4 form-group">

            <label>Teléfono</label>
            <p>{{ supplier.phone }}</p>
        </div>

        <div class="col-sm-4 form-group">

            <label>Celular</label>
            <p>{{ supplier.mobile }}</p>
        </div>

        <div class="col-sm-4 form-group">

            <label>Dirección</label>
            <p>{{ supplier.address }}</p>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <a href="{{ url('supplier.edit', {id : supplier.id}) }}" class="btn btn-warning"><span class="{{ icon.ICON_EDIT }}"></span> Editar</a>
        </div>
    </div>

{% endblock %}