{% extends 'CoreBundle:Templates:base.html.twig' %}

{% block title %}Registrar salida{% endblock %}

{% block titleMain %}Registrar salida{% endblock %}

{% block position %}

    {% include 'CoreBundle:Templates:position.html.twig' with {
        positions : [
            {
                title : 'Salidas',
                route : 'output.index',
                icon  : icon.ICON_OUTPUT
            },
            {
                title : 'Registrar salida',
                route : '',
                icon  : icon.ICON_OUTPUT
            }
        ]
    } %}

{% endblock %}

{% block body %}

    {{ form_start(form) }}

        <div class="row">

            <div class="col-sm-4">
                <label>Código</label>
                <p>---------------</p>
            </div>

            <div class="col-sm-4">
                {{ form_label(form.dateIssue) }}
                {{ form_widget(form.dateIssue) }}
                {{ form_errors(form.dateIssue) }}
            </div>

            <div class="col-sm-4">
                {{ form_label(form.fkClientAndSupplier) }}
                {{ form_widget(form.fkClientAndSupplier) }}
                {{ form_errors(form.fkClientAndSupplier) }}
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success"><span class="{{ icon.ICON_SAVE }}"></span> Registrar</button>
            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}